.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  width: 80%;
  max-width: 600px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modalContent {
  text-align: center;
}

.title {
  margin-bottom: 15px;
  font-size: 24px;
}

.image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.closeButton {
  background-color: #ff5f57;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}